<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body class="container">
  <h1>
    <a href="/about" class="btn btn-primary pull-left">
      about
    </a>
    <a href="/clear" class="btn btn-primary pull-left">
      clear
    </a>
    <a href="/main" class="btn btn-primary pull-left">
      main
    </a>
  </h1>
